body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

.aktiviteter-sektion {
    background-color: #00a1e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    height: 400px;
    margin-top: 1000px;
}

.aktiviteter-tekst {
    color: black;
    font-weight: bold;
    font-size: 96px;
    text-transform: uppercase;
    justify-self: left;
}
.circle{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100% 100% 0 0;
    position: absolute;
    bottom: 0;
}