body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

.aktiviteter-sektion {
    background-color: #00a1e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    height: 400px;
    margin-top: 1000px;
    
}





.container{
    background-color: #E04038;
    display: flex;
    justify-content: space-around;
    height: 280px;
    margin-top: 200px;
    width: 1480px;

}

.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
}

.text-box{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.image-box{
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.container2{
    background-color: #01ADEF;
    display: flex;
    justify-content: space-around;
    height: 280px;
    margin-top: 50px;
    width: 1480px;
}

.imagefront{
    position: absolute;
    left: 400px;
   margin-top: -380px;
}

.image-container{
    position: relative;
}

div.scroll-container {
    background-color: #E04038;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    width: 1460px;

}

div.scroll-container img {
    padding: 10px;
}

.grafik-container{
    position: relative;

}

svg{
    margin-top: -80px;

}

.circle{
    margin-left: -100px;

}

.circle2{
    margin-right: 350px;
}
.kontakt{
    margin-top: -11%;
    margin-left: 2%;


}